<h1>맛집 추가하기</h1>

<form action="/home/create" method="post">
  위치 <input type="string" name="location"><br>
  이름 <input type="text" name="name"><br>
  내용 <input type="text" name="content"><br>
  별점 <input type="text" name="stars"><br>
  <input type="submit" value="제출">
</form>